<table class='trip-info-table'>
  <tr>
    <th class='trip-column-name'>Destination</th>
    <th class='trip-column-name'>Total Price</th>
    <th class='trip-column-name'>Weather</th>
  </tr>
  <tr class="Flight" id="flight-<%=trip.id%>">
    <div class="trip-table-separator">
      <td class="DestinationCity">
        <div class="trip-table-info">
            <%= link_to trip.destination_city, flight_show_path(trip.id) %>
        </div>
      </td>
    </div>
    <td class="Price">
      <div class="trip-table-info">
        $<%= trip.price %>
      </div>
    </td>
    <td class="weather-text">
      <div class="trip-table-info">
        High: <%= trip.max_f.round(1) %> <br>
        Low: <%= trip.min_f.round(1) %> <br>
        <div class="weather-image-box">
          <%= image_tag trip.weekly_forecast[0].image_path, style:"width:150px;", class:"Weather_img" %> <br>
        </div>
        Feels Like: <%= trip.day_feels_like_f.round(1) %> <br>
        Description: <%= trip.description.capitalize %> <br>
      </div>
    </td>
  </tr>
</table>
