<div class="flight-index-header-biggest-box">
  <div class="flight-index-header-big-box">
    <div class="flight-index-header-box">
      <div class="flight-index-header">
        <h1> Best Available Trips </h1>
      </div>
    </div>
  </div>
</div>

<% if !@hot_trips.empty? %>
  <div class='temperature-box'>
    <h2 class='temp-box-header'>
      <div class="temp-box-actual-header">
        Bring<br>Suntan Lotion
      </div>
      <div class="temp-image">
        <%= image_tag('lotion', size: "100") %>
      </div>
      <div class="temp-box-temp-range">
        (85°F and up)
      </div>
    </h2>
      <section class="hot-trips">
        <%= render partial: 'flight_partial', collection: @hot_trips, as: :trip %>
      </section>
  </div>
<% end %>

<% if !@warm_trips.empty? %>
  <div class='temperature-box'>
    <h2 class='temp-box-header'>
      <div class="temp-box-actual-header">
        Bust Out<br>the Sandals
      </div>
      <div class="temp-image">
        <%= image_tag('sandals', size: "100") %>
      </div>
      <div class="temp-box-temp-range">
        (70°F to 84°F)
      </div>
    </h2>
      <section class="warm-trips">
        <%= render partial: 'flight_partial', collection: @warm_trips, as: :trip %>
      </section>
  </div>
<% end %>

<% if !@cool_trips.empty? %>
<div class='temperature-box'>
  <h2 class='temp-box-header'>
    <div class="temp-box-actual-header">
      Sweater<br>Weather
    </div>
    <div class="temp-image">
      <%= image_tag('sweater', size: "100") %>
    </div>
    <div class="temp-box-temp-range">
      (50°F to 69°F)
    </div>
  </h2>
    <section class="cool-trips">
      <%= render partial: 'flight_partial', collection: @cool_trips, as: :trip %>
    </section>
  </div>
<% end %>

<% if !@cold_trips.empty? %>
  <div class='temperature-box'>
    <h2 class='temp-box-header'>
      <div class="temp-box-actual-header">
        Build a<br>Snowman
      </div>
      <div class="temp-image">
        <%= image_tag('snowman', size: "100") %>
      </div>
      <div class="temp-box-temp-range">
        (below 50°F)
      </div>
    </h2>
      <section class="cold-trips">
        <%= render partial: 'flight_partial', collection: @cold_trips, as: :trip %>
      </section>
  </div>
<% end %>
