<h1>Flight Details</h1>

  <p class="TripId"><%= @trip.flight_id %></p>
  <p class="TripOrigin"><%= @trip.origin_city %></p>
  <p class="TripDestination"><%= @trip.destination_city %></p>
  <p class="TripDepTime"><%= @trip.departure_datetime %></p>
  <p class="TripArrTime"><%= @trip.arrival_datetime %></p>
  <p class="TripRDepTime"><%= @trip.r_departure_datetime %></p>
  <p class="TripRArrTime"><%= @trip.r_arrival_datetime %></p>
  <p class="TripFeels"><%= @trip.day_feels_like_f %></p>
  <p class="TripWeatherDesc"><%= @trip.description %></p>
  <p class="TripBooking"><%= @trip.booking_link %></p>
