<h1>Flight Details</h1>

  <p><%= @trip.flight_id %></p>
  <p><%= @trip.origin_city %></p>
  <p><%= @trip.destination_city %></p>
  <p><%= @trip.departure_datetime %></p>
  <p><%= @trip.arrival_datetime %></p>
  <p><%= @trip.r_departure_datetime %></p>
  <p><%= @trip.r_arrival_datetime %></p>
  <p><%= @trip.day_feels_like_f %></p>
  <p><%= @trip.description %></p>
  <p><%= @trip.booking_link %></p>
