
<div class='show-page'>
  <div class='title-show'>
    <h1 class='show-title'>Pack Your Bags</h1>
  </div>
  <div class='flight-details-show'>
    <div class="trip-dest-show">
      <div class='origin'>
        <h4 class="TripOrigin">Origin City: <%= @trip.origin_city %></h4>
      </div>
      <div class="image">
        <%= image_tag("plane", class: 'plane-image') %>
      </div>
      <div class="destination">
        <h4 class="TripDestination">Destination: <%= @trip.destination_city %></h4>
      </div>
    </div>
    <div class="trip-details-show">
      <div class="trip-price">
        <h5 class="Price">Price: $<%= @trip.price %></h5>
      </div>
      <div class=flights>
        <div class="trip-times-leave">
          <p>Departure Trip</p>
          <p class="TripDepTime">Depart: <%= @trip.departure_datetime.to_time.strftime("%A - %B %d, %Y @ %I:%M %p")%> </p>
          <p class="TripArrTime">Arrive: <%= @trip.arrival_datetime.to_time.strftime("%A - %B %d, %Y @ %I:%M %p")%></p>
        </div>
        <div class="trip-times-return">
          <p>Return Trip</p>
          <p class="TripRDepTime">Depart: <%= @trip.r_departure_datetime.to_time.strftime("%A - %B %d, %Y @ %I:%M %p") %></p>
          <p class="TripRArrTime">Arrive: <%= @trip.r_arrival_datetime.to_time.strftime("%A - %B %d, %Y @ %I:%M %p") %></p>
        </div>
      </div>
    </div>
    <p class="TripBooking"><%= button_to("Book Your Flight", @trip.booking_link, class: 'myButton') %></p>
  </div>

  <div class ='weather'>
    <% @trip.weekly_forecast.each do |day| %>
    <div class='weather-day'>
      <div class="weather-image">
        <%= image_tag(day.image_path, class: "weather-icon") %>
        <div class="weather-temp">
          <p><%= day.date.to_date.strftime("%m/%d/%Y")%></p>
          <p>Feels like: <%= day.day_feels_like_f.round(0)%>°</p>
          <p>Hi: <%= day.max_f.round(0)%>° Lo: <%=day.min_f.round(0)%>°</p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class='explore-accomidations'>
  <div class="TripAirbnb-container">
  <%= link_to image_tag("air.png", class: 'TripAirbnb'), "https://airbnb.com/s/#{@trip.destination_city}/homes?checkin=#{@trip.arrival_date}checkout=#{@trip.r_departure_date}" %>
  </div>

  <div class="TripHotels-container">
  <%= link_to image_tag("hotels.jpeg", class: 'TripHotels'), "https://www.hotels.com/search.do?q-destination=#{@trip.destination_city}&q-check-in=#{@trip.arrival_date}&q-check-out=#{@trip.r_departure_date}" %>
  </div>
</div>
