<body>

<script>
function checkFields(id1, id2) {
  var inpObj = document.getElementById(id1);
  var inpObj2 = document.getElementById(id2);
  if (inpObj.checkValidity() && inpObj2.checkValidity() ) {
      myMove();
      return this.onclick=null;
    }
}

function myMove() {
  var elem = document.getElementById("planeImage");
  var pos = 125; //start position of object upon click (relative to left side of container)
  var id = setInterval(frame, 10); //will call frame method every 10ms
  function frame() {
    if (pos == 520) { //800 is distance it will travel
      elem.className="rotated"
      clearInterval(id);//will stop the setInterval method.
      return myMove_left();

    } else {
      pos++; //increment position by 1px
      elem.style.left = pos + 'px';  //pixel distance from left side of parent
    }
  }
}


function myMove_left() {
  var elem = document.getElementById("planeImage");
  var pos = 520; //start position of object upon click (relative to left side of container)
  var id = setInterval(frame_left, 10); //10 is speed of object, 1 is fast
  function frame_left() {
    if (pos == 125) { //800 is distance it will travel
      elem.classList.remove("rotated");
      clearInterval(id);
      return myMove();
    } else {
      pos--; //increment position by 1px
      elem.style.left = pos + 'px';  //pixel distance from left side of parent
    }
  }
}
</script>

<!-- <div class="main-container"> -->
<div class="temperature-box">

<div align="center">
<h1>Welcome to Get The F(light) Out!</h1>


<h3>Gotta go? GTFO.</h3>

<p>
  Get The F(light) Out! is a travel application built for people who just want
  to get out. Enter your origin airport, departure date and duration, and we'll
  give you some great deals to choose from, complete with weather information.
</p>

<%= form_with url: "/flights/search", method: :get, local: true do |f| %>

  <%= f.label :departure_airport, "Departure Airport: " %>
  <%= f.select :departure_airport, [["Denver (DIA)", "DEN"],
                                    ["Atlanta (ATL)", "ATL"],
                                    ["Los Angeles (LAX)", "LAX"],
                                    ["Chicago (ORD)", "ORD"],
                                    ["New York (JKF)", "JFK"]] %>

  <%= f.label :departure_date, "Departure Date: " %>
  <%= f.date_field :departure_date, value: Date.today, min: Date.today %>

  <%= f.label :trip_duration, "Trip duration: " %>
  <%= f.number_field :trip_duration, value: 1, min: 1 %> days

  <%= f.submit "Lucky Location", onclick: "checkFields('departure_date', 'trip_duration'); ", class: "myButton"%>

  <% if current_user %>
    <%= f.submit "Search Locations", onclick: "checkFields('departure_date', 'trip_duration');", class: "myButton" %>
  <% else %>
    <p class="login-link"><%= link_to "Log In with Google", google_login_path %> to search more than one search result</p>
  <% end %>
  <br>
  <br>
  <br>
  <div id ="planeBackground">
<%= image_tag 'plane_bkgrnd.png', id: "planeBackground" %>
<div id="planeImage"><%= image_tag 'welcome_plane.png', style: "width:150px;" %></div>
</div>
</div>
</div>





<% end %>
<!-- </div> -->
