<body>

<script>
function myMove() {
  var elem = document.getElementById("planeImage");
  var pos = 125; //start position of object upon click (relative to left side of container)
  var id = setInterval(frame, 10); //will call frame method every 10ms
  function frame() {
    if (pos == 520) { //800 is distance it will travel
      elem.className="rotated"
      clearInterval(id);//will stop the setInterval method.
      return myMove_left();

    } else {
      pos++; //increment position by 1px
      elem.style.left = pos + 'px';  //pixel distance from left side of parent
    }
  }
}


function myMove_left() {
  var elem = document.getElementById("planeImage");
  var pos = 520; //start position of object upon click (relative to left side of container)
  var id = setInterval(frame_left, 10); //10 is speed of object, 1 is fast
  function frame_left() {
    if (pos == 125) { //800 is distance it will travel
      elem.classList.remove("rotated");
      clearInterval(id);
      return myMove();
    } else {
      pos--; //increment position by 1px
      elem.style.left = pos + 'px';  //pixel distance from left side of parent
    }
  }
}
</script>

<!-- <div class="main-container"> -->
<div class='welcome-page'>
  <div class="welcome-intro-container">
    <div class="welcome-title">
      <h2>Welcome to Get The F(light) Out!</h2>
    </div>
    <div class="welcome-tagline">
      <h3>Gotta go? GTFO.</h3>
    </div>
  </div>

  <div class="welcome-blurb-container">
    <div class="welcome-blurb">
        Get The F(light) Out! is a travel application built for people who just want
        to get out. Enter your origin airport, departure date and duration, and we'll
        give you some great deals to choose from, complete with weather information.
    </div>
  </div>
  <div class="departure-form">
    <%= form_with url: '/flights', method: :get, local: true do |f| %>
    <div class="departure_airport">
      <%= f.label :departure_airport, "Departure Airport: " %>
      <%= f.select :departure_airport, [["Denver International", "DEN"],
      ["Hartsfield/Jackson International", "ATL"],
      ["Los Angeles International", "LAX"],
      ["Chicago O'Hare International", "ORD"],
      ["Kennedy International", "JFK"]] %>
    </div>
    <div class="departure-date">
      <%= f.label :departure_date, "Departure Date: " %>
      <%= f.date_field :departure_date, value: Date.today, min: Date.today %>
    </div>
    <div class="departure-duration">
      <%= f.label :trip_duration, "Trip duration: " %>
      <%= f.number_field :trip_duration, value: 1, min: 1 %> days
    </div>
    <div class="departure-search-button-container">
      <div class="button-container">
        <div class="lucky-button">
          <%= f.submit "Lucky Location", onclick: "myMove();"%>
        </div>
      </div>
    </div>

    <% if current_user %>
      <%= f.submit "Search Locations", onclick: "myMove();" %>
    <% else %>
      <p class="login-link"><%= link_to "Log In with Google", google_login_path %> to search more than one search result</p>
    <% end %>
    <br>
    <br>
    <br>
  </div>
</div>

<div id ="planeBackground">
  <%= image_tag 'plane_bkgrnd.png', id: "planeBackground" %>
  <div id="planeImage"><%= image_tag 'welcome_plane.png', style: "width:150px;" %></div>
</div>





<% end %>
</div>
