<!DOCTYPE html>
<html>
<div class="background">
  <head>

    <title>GTFO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <div class="home-link">
          <%= link_to image_tag("home_logo.png", size:100, class: 'home'), "/" %>
        </div>
        <div class="oauth-link">
          <% unless current_user %>
            <div class="sign-in-link">
              <%= link_to image_tag("sign_in.png", size:100, class: 'sign-in'), google_login_path %>
            </div>
          <% else %>
            <div class="sign-out-link">
              <%= link_to image_tag("sign_out.png", size:100, class: 'sign-out'), google_logout_path %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
  <header>
    <% flash.each do |type, message| %>
      <div class="flash-messages">
        <h4 class='<%= type %>'>
          <%= message %>
        </h4>
      </div>
    <% end %>
  </header>
  <div class="main-container">
    <%= yield %>
  </body>
</div>
</html>
