<!DOCTYPE html>
<html>
<div class="background">
  <head>

    <title>GTFO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <% unless current_user %>
          <%= link_to "Log In with Google", google_login_path, class: "navbar-brand" %>
        <% else %>
          <%= link_to "Logout", google_logout_path, class: "navbar-brand" %>
        <% end %>
      </div>
    </nav>
  <header>
   <% flash.each do |type, message| %>
      <h4 class='<%= type %>'>
        <%= message %>
      </h4>
   <% end %>
  </header>
  <div class="main-container">
    <%= yield %>
  </body>
</div>
</html>
